<header class="p-2 bg-green-600 flex gap-4">
  <a class="p-1 pl-2 pr-2 rounded-md text-white hover:bg-green-300 hover:text-black" href="/">Homepage</a>
  <a class="p-1 pl-2 pr-2 rounded-md text-white hover:bg-green-300 hover:text-black" href="/host/add-home">Add
    Home</a>
</header>