<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="output.css">
  <title>Contact Us</title>
</head>

<body>
  <main>
    <center>
      <h3 class="text-3xl font-bold underline">Please fill in the following form fields carefully!</h3>
      <form action="/contact-us" method="POST">
        <input type="text" name="username" placeholder="Your username">
        <input type="email" name="email" placeholder="Your email address">
        <input type="submit">
      </form>
    </center>
  </main>
</body>

</html>