<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact | Message</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main>
    <center>
      <h3 class="text-white bg-red-500 font-bold p-4">Hey! Nice to meet you.</h3>
      <p class="underline underline-offset-4 text-green-500 p-4">Your request submitted successfully!</p>
      <br> <br>
      <a class="p-2 bg-blue-500 text-white font-bold cursor-pointer" href="/">Back to homepage</a>
    </center>
  </main>
</body>

</html>