* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: #333;
  color: #ccc;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 4px;
}

button,
a {
  color: green;
  word-spacing: 0.2rem;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  text-underline-offset: 3px;
}

button:hover,
a:hover {
  color: greenyellow;
}